//User define variables
$color-primary: #27ae60;
$color-primary-light: #ccffcc;
$color-white: #fff;
$custom-font: 'Ubuntu', sans-serif;
$primary: $color-primary;
$light: $color-primary-light;
//increase the brand font size
$navbar-brand-font-size: 2.2rem;
//font family
$font-family-sans-serif: $custom-font;
// Modified version of https://getbootstrap.com/docs/5.1/content/typography/#headings
$display-font-sizes: (
  1: 4.25rem,
  2: 3.5rem,
  3: 3rem,
  4: 2.7rem,
  5: 2.5rem,
  6: 2.3rem,
);
$display-font-weight: 500;
//NAVBAR

//Modified version of https://getbootstrap.com/docs/5.1/utilities/spacing/#sass
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.45,
  2: $spacer * 0.75,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

//NAVBAR
$navbar-light-active-color: rgba($color-primary, 0.7);
$navbar-light-hover-color: rgba($color-primary, 1);

//FONT WEIGHT
$font-weight-bolder: 600;
@import '../bootstrap-5.1.3/scss/bootstrap';

.icon-custom {
  width: 2rem;
  height: 2rem;
  fill: $color-primary;
}

#loginForm {
  max-width: 24rem;
  margin: auto auto;
}

.container-login {
  margin: auto 0;
}

.route_jumbo-1 {
  background-color: cornsilk;
}

.fav {
  position: relative;

  &__btn {
    padding: 1rem;
  }

  &__btn:hover {
    background-color: #eee;
  }

  &__btn:hover + .fav__list {
    visibility: visible;
    opacity: 1;
  }

  &__list {
    font-size: 1.1rem;
    text-align: center;
    width: 100%;
    list-style: none;
    padding: 0;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0.8rem 5rem 2rem rgba(#000, 0.1);
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s 0.1s;
  }

  &__list:hover {
    visibility: visible;
    opacity: 1;
  }
}

#map {
  height: 350px;
  /* The height is 400 pixels */
  width: 100%;
}

.visible {
  display: block !important;
}

#btn-nav-container {
  width: 6rem;
  display: grid;
  position: relative;
}

#btn-nav-login {
  position: relative;
  z-index: 1;
}
#btn-nav-logout {
  position: relative;
  z-index: 10;
}

#btn-nav-login,
#btn-nav-logout {
  display: none;
  width: 6rem;
  grid-column: 1;
  grid-row: 1;
}

.err {
  text-align: center;
  margin-top: -5rem;

  &-icon {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    fill: orange;
    margin-bottom: 2rem;
  }
}
